
   

   /* Set the container */
  body {
      /* Set the background color*/
      background-image: url(/个人简历/个人简历副本/1.jpg);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      
    
  }

  audio{
      float: left;
      margin-top: 50px;  
  }



  /* Setting the container Style */
  .container {
      position: relative;
      width:100%;
      max-width: 1000px;
      min-height: 1000px;
      background-color: rgb(219, 219, 219);
      margin: 50px;
      display: grid;
      grid-template-columns: 1fr 2fr;
  
  
  }
    /* Set the left sidebar*/
  .container .leftSide {
      position: relative;
      background-color: rgb(158, 158, 158);
      padding:40px;
  }
    /* Sets the splitter height style */
  .profile {
      position:relative;
      display:flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(167, 166, 166, 0.2);
  }
  /* Set photo size */
  .profile img{
      width:200px;
      height:200px;
      border-radius: 50%;
  }
    /* Set the h2 label font color and size */
  .profile h2{
      color: rgb(112, 86, 86);
      font-size: 1.5em;
      margin-top: 20px;
      text-transform:uppercase;
      text-align: center;
      font-weight: 600;
      line-height: 1.4em;
  }

  /* Sets the inside margin of the left navigation */
  .contactInfo {
      padding-top: 100px;
  }
  
  /* Set the font color and margin of the left navigation bar */
  .contactInfo .title {
      color:rgb(59, 51, 51);
      margin-bottom: 20px;
  }
  
  .contactInfo ul {
      position: relative;
  }
  
  /* Set the Li style in the exercise mode */
  .contactInfo ul li {
      position: relative;
      list-style: none;
      margin: 10px 0;
  
  }
  /* Set the left navigation bar */
  .contactInfo ul li .material-icons {
       /* display: inline-block; */
       width: 30px;
       font-size: 18px;
       color: rgb(104, 90, 92);
       
  }
  
  .contactInfo ul li .text {
      color:rgb(59, 49, 49);
    
  }
  
  /* Sets the font color for the H5 label */
  .contactInfo.education h5 {
      color:rgb(59, 49, 49);
  }
  /* Sets the font color for the H4 label */
  .contactInfo.education h4 {
      color:rgb(255, 255, 255);
  }
  /* Sets the percentage style in the left navigation bar */
  .contactInfo.language .percent {
      position: relative;
      width:100%;
      height: 6px;
      background-color: rgb(255, 255, 255);
      display: block;
      margin-top: 5px;
  }
   /* Sets the percentage style in the left navigation bar */
  .contactInfo.language .percent div{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      background-color: rgb(82, 69, 65);
  }
  
  /* Sets the background color of the content frame and the inside margin of the content */
  .container .rightSide {
      position: relative;
      background-color: rgba(224, 224, 224, .1);
      padding:40px;
  }
  
  /* Set the margin of the work experience column */
  .about {
      margin-bottom: 100px;
  }
  
  .about:last-child {
      margin-bottom: 0;
  }
  /* Sets the font color and margins for all headings */
  .title2 {
      color:rgb(182, 182, 182);
      margin-bottom: 10px;
  }
  /* Sets the text font color */
  p {
      color:rgb(0, 0, 0);
  }
  /* Sets the text layout of the work experience frame */
  .about .box {
      display: flex;
      margin: 20px 0;
  }
  
  .about .box .year-company {
      min-width: 150px;
  }
  
  /* After setting the font color of H5 */
  .about .box .year-company h5 {
      color:rgb(66, 53, 53);
  }
  
  /* Sets the font color for h4 text */
  .about .box .text h4 {
      color:rgb(218, 218, 218);
      font-size: 16px;
  }
  /* Set the percentage style for the expertise */
  .skills .box {
      position:relative;
      width: 100%;
      display: grid;
      grid-template-columns: 150px 1fr;
      justify-content: center;
      align-items: center;
  }
  /* Set the font color for H4 */
  .skills .box h4 {
      color:rgb(7, 7, 7);
  }
  /* Percentage box style */
  .skills .box .percent {
      position: relative;
      width: 100%;
      height: 10px;
      background-color: rgb(253, 253, 253);
  }
  /* Sets the style inside the percentage box */
  .skills .box .percent div {
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      background-color: rgb(82, 69, 65);
  }
  /* Set the ul layout */
  .interest ul {
      display: grid;
      grid-template-columns: repeat(4,1fr);
  }


  
  /* Font styles for hobbies and interests */
  .interest ul li .material-icons {
      color:rgb(46, 35, 35);
      font-size: 20px;
  }

  /*  Sets the jump label style for the sidebar*/
  .foot ul  li a{
     
      color: rgb(243, 71, 3);
      font-size: 18px;
       line-height: 50px;
       margin-left: 40px;
     
     

  }
  .foot .side-nav{
      width: 300px;
      background-color: rgba(218, 218, 218,.8);
      position: fixed;
      border-radius: 15px ;
      margin-top: -400px;
      box-shadow: 0 10px 8px 0 rgba(14, 13, 13, 0.5)    
  }


  .foot ul li
  {
      list-style: none;
      
  }

  .foot ul  li a:hover
  {
      background-color: rgba(161, 159, 159, 0.8);
      border-radius: 10%;
     
  }

  
